@charset "UTF-8";
a {
  text-decoration: none;
  color: #333;
}

li {
  list-style-type: none;
}

img {
  vertical-align: bottom;
}

section {
  padding-block: 100px;
}
section .section-ttl {
  text-align: center;
  position: relative;
  margin-bottom: 80px;
}
section .section-ttl h3 {
  font-size: 2rem;
}
section .section-ttl span {
  font-size: 1rem;
  color: #666;
}
section .section-lead {
  max-width: 850px;
  width: 100%;
  margin: 30px auto;
  padding-inline: 20px;
}

.mrs-saint-delafield-regular {
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 875px) {
  section {
    padding-block: 30px;
  }
  section .section-ttl {
    margin-bottom: 30px;
  }
}
header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 100;
}
header .header-inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 60px;
  padding: 8px 1%;
}
header .header-inner h1 img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .header-inner .header-nav {
  display: flex;
  align-items: center;
}
header .header-inner .header-nav li {
  margin-inline: 20px;
  text-align: center;
  position: relative;
}
header .header-inner .header-nav li a .menu-subtext {
  display: block;
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}
header .header-inner .header-nav .nav-contact-btn {
  background: #FFBD59;
  border-radius: 20px;
}
header .header-inner .header-nav .nav-contact-btn a {
  padding: 15px 30px;
  font-size: 1rem;
  line-height: 3rem;
  color: #fff;
}
header .header-inner .header-nav .animoGradientBorder {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: 2px;
  margin-bottom: -2px;
  cursor: pointer;
  color: #474e51;
}
header .header-inner .header-nav .animoGradientBorder::before {
  position: absolute;
  z-index: -1;
  text-align: center;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #FFBD59;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-101%);
}
header .header-inner .header-nav .animoGradientBorder:hover::before {
  transform: translateX(0);
}

.ham-icon {
  position: fixed;
  padding: 20px;
  width: 50px;
  height: 50px;
  background: #FFBD59;
  border-radius: 0 0 0 40%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ham-icon span {
  width: 22px;
  height: 3px;
  background: #fff;
  margin-block: 4px;
  position: absolute;
  transition: all 0.3s;
  right: 50%;
  transform: translateX(50%);
}
.ham-icon span:nth-child(1) {
  top: 25%;
}
.ham-icon span:nth-child(2) {
  top: 40%;
}
.ham-icon span:nth-child(3) {
  top: 55%;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9);
  transition: all 0.3s;
  z-index: 100;
}

#appear {
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #FFFFFF;
  border-radius: 25px;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
  max-height: 500px;
  height: auto;
  width: 90%;
  max-width: 500px;
  transform: translate(-50%, -50%) scale(0);
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 500;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
#appear img {
  max-width: 240px;
  padding-inline: 5px;
  margin-bottom: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
#appear li {
  margin-bottom: 10px;
}
#appear li a .menu-subtext {
  display: block;
  font-size: 10px;
  color: #666;
  margin-top: 0;
}

.open #appear {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  -webkit-animation: zoomInAnime 0.5s ease-out;
          animation: zoomInAnime 0.5s ease-out;
}
.open #appear li {
  margin-bottom: 10px;
}
.open #appear .nav-contact-btn {
  display: block;
  margin-inline: auto;
  background: #FFBD59;
  border-radius: 20px;
  max-width: 200px;
}
.open #appear .nav-contact-btn a {
  padding: 15px 30px;
  font-size: 1rem;
  line-height: 3rem;
  color: #fff;
}
.open .ham-icon span {
  background: #fff;
}
.open .ham-icon span:nth-child(1) {
  top: 18px;
  transform: translateX(50%) rotate(-45deg);
}
.open .ham-icon span:nth-child(2) {
  opacity: 0;
}
.open .ham-icon span:nth-child(3) {
  top: 18px;
  transform: translateX(50%) rotate(45deg);
}
.open .mask {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes zoomInAnime {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes zoomInAnime {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@media (max-width: 1480px) {
  header .header-inner {
    padding: 8px 4%;
  }
  header .header-inner .header-nav {
    display: none;
  }
  header .ham-icon {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 430px) {
  .open #appear {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
  }
}
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mv {
  width: 100%;
  height: 60vh;
  padding-top: 60px;
}
.mv img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 0 0 200px 0;
}

#development {
  padding-top: 60px;
}
#development .development-ttl {
  position: relative;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  width: 100%;
  height: 250px;
}
#development .development-ttl h2 {
  color: #fff;
  font-size: 7vmin;
  text-align: center;
  line-height: 100px;
  background: rgba(51, 51, 51, 0.5);
  padding: 40px 10px;
}
#development .development-ttl h2 span {
  display: block;
  font-size: 3vmin;
  line-height: 100px;
  color: #fff;
}
#development .development-ttl .fixed {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../images/img2.jpeg) no-repeat center center/cover;
}

#marketing {
  padding-top: 60px;
}
#marketing .marketing-ttl {
  position: relative;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  width: 100%;
  height: 250px;
}
#marketing .marketing-ttl h2 {
  color: #fff;
  font-size: 7vmin;
  text-align: center;
  line-height: 100px;
  background: rgba(51, 51, 51, 0.5);
  padding: 40px 10px;
}
#marketing .marketing-ttl h2 span {
  display: block;
  font-size: 3vmin;
  line-height: 100px;
  color: #fff;
}
#marketing .marketing-ttl .fixed {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../images/img2.jpeg) no-repeat center center/cover;
}

#minimal {
  padding-top: 60px;
}
#minimal .minimal-ttl {
  position: relative;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  width: 100%;
  height: 250px;
}
#minimal .minimal-ttl h2 {
  color: #fff;
  font-size: 7vmin;
  text-align: center;
  line-height: 100px;
  background: rgba(51, 51, 51, 0.5);
  padding: 40px 5px;
}
#minimal .minimal-ttl h2 span {
  display: block;
  font-size: 3vmin;
  line-height: 100px;
  color: #fff;
}
#minimal .minimal-ttl .fixed {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../images/img2.jpeg) no-repeat center center/cover;
}

#company {
  padding-inline: 8%;
  padding-top: 70px;
}
#company .company-inner {
  max-width: 850px;
  margin-inline: auto;
}
#company .company-inner .company-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.5rem;
  margin-bottom: 60px;
}
#company .company-inner .company-text dt {
  width: 30%;
  max-width: 150px;
  border: 1px solid #b6b2b2;
  padding: 12px;
  margin-bottom: -1px;
  margin-right: -1px;
}
#company .company-inner .company-text dd {
  width: 70%;
  border: 1px solid #b6b2b2;
  padding: 12px;
  margin-bottom: -1px;
}
#company .contact-btn-wrapper {
  text-align: center;
}
#company .contact-btn-wrapper .contact-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 1px solid #FFBD59;
  background: #FFBD59;
  border-radius: 20px;
  margin-inline: auto;
  padding: 10px 30px;
  text-align: center;
  outline: none;
  transition: ease 0.2s;
}
#company .contact-btn-wrapper .contact-btn span {
  position: relative;
  z-index: 3;
  color: #fff;
}
#company .contact-btn-wrapper .contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}
#company .contact-btn-wrapper .contact-btn:hover {
  border: 1px solid #FFBD59;
}
#company .contact-btn-wrapper .contact-btn:hover span {
  color: #FFBD59;
}
#company .contact-btn-wrapper .contact-btn:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

@media (max-width: 875px) {
  #concept {
    margin-top: 30px;
  }
  #concept .concept-inner {
    flex-direction: column;
    font-size: 0.9rem;
  }
  #concept .concept-inner .concept-img {
    width: 100%;
    margin-bottom: 20px;
  }
  #concept .concept-inner .concept-text {
    width: 100%;
    padding-left: 0;
  }
}
#menu-page {
  padding-top: 0;
}
#menu-page .menu-page-ttl {
  height: 438px;
  background: url(../images/menupage-ttl.jpg) no-repeat center center/cover;
}
#menu-page .menu-page-ttl h2 {
  color: #fff;
  font-size: 4.5rem;
  text-align: center;
  height: 438px;
  background: rgba(51, 51, 51, 0.5);
  line-height: 474px;
}
@media screen and (max-width: 875px) {
  #menu-page .menu-page-ttl h2 {
    font-size: 2.3rem;
  }
}
#menu-page .menu-page-items {
  padding-left: 8%;
}
@media screen and (max-width: 875px) {
  #menu-page .menu-page-items {
    padding-inline: 3%;
  }
}
#menu-page .menu-page-items h3 {
  font-size: 4rem;
}
@media screen and (max-width: 875px) {
  #menu-page .menu-page-items h3 {
    font-size: 1.5rem;
    text-align: center;
  }
}
#menu-page .menu-page-items .menu-page-section-top {
  display: flex;
  padding-bottom: 100px;
}
@media screen and (max-width: 875px) {
  #menu-page .menu-page-items .menu-page-section-top {
    flex-direction: column;
    width: 100%;
  }
}
#menu-page .menu-page-items .menu-page-section-top-text {
  border: 1px dotted #333;
  margin-top: 40px;
  margin-inline: 10px;
  padding: 20px;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 875px) {
  #menu-page .menu-page-items .menu-page-section-top-text {
    width: 100%;
    margin-inline: 0;
  }
}
#menu-page .menu-page-items .menu-page-section-top-text dt {
  font-size: 1.2rem;
}
#menu-page .menu-page-items .menu-page-section-top-text dd {
  font-size: 1.2rem;
}
#menu-page .menu-page-items .menu-page-section-top-text div {
  width: 100%;
  margin-block: 4px 16px;
}
#menu-page .menu-page-items .menu-page-section-top-img {
  width: 55%;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s;
}
@media screen and (max-width: 875px) {
  #menu-page .menu-page-items .menu-page-section-top-img {
    display: none;
  }
}
#menu-page .menu-page-items .menu-page-section-top-img img {
  width: 100%;
}
#menu-page .menu-page-items .menu-item {
  padding-block: 80px;
}
@media screen and (max-width: 875px) {
  #menu-page .menu-page-items .menu-item {
    padding-block: 40px;
  }
}
#menu-page .menu-page-items .menu-item:nth-of-type(odd) .menu-item-inner {
  flex-direction: row-reverse;
}
@media screen and (max-width: 875px) {
  #menu-page .menu-page-items .menu-item:nth-of-type(odd) .menu-item-inner {
    flex-direction: column;
  }
}
#menu-page .menu-page-items .menu-item h4 {
  font-size: 1.5rem;
  font-weight: normal;
  padding-left: 10px;
  position: relative;
}
#menu-page .menu-page-items .menu-item h4::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 21px;
  background: #005F94;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#menu-page .menu-page-items .menu-item-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
@media screen and (max-width: 875px) {
  #menu-page .menu-page-items .menu-item-inner {
    flex-direction: column;
  }
}
#menu-page .menu-page-items .menu-item-inner-img {
  width: 50%;
  margin-inline: 2%;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s;
}
@media screen and (max-width: 875px) {
  #menu-page .menu-page-items .menu-item-inner-img {
    width: 100%;
    margin-inline: 0;
  }
}
#menu-page .menu-page-items .menu-item-inner-img img {
  width: 100%;
  height: auto;
}
#menu-page .menu-page-items .menu-item-inner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  background: #F6F2EB;
  border-radius: 10px;
  margin-inline: 2%;
  padding: 3%;
}
@media screen and (max-width: 875px) {
  #menu-page .menu-page-items .menu-item-inner-text {
    width: 100%;
    margin: 20px 0 0 0;
  }
}

.fade {
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#contact-page {
  padding-top: 0;
}
#contact-page .contact-page-ttl {
  height: 438px;
  background: url(../images/img2.jpeg) no-repeat center center/cover;
}
#contact-page .contact-page-ttl h2 {
  color: #fff;
  font-size: 4.5rem;
  text-align: center;
  height: 438px;
  background: rgba(51, 51, 51, 0.5);
  line-height: 474px;
}
#contact-page h3 {
  font-size: 1.5rem;
  margin-block: 100px 65px;
  text-align: center;
}
#contact-page .contact-page-inner {
  max-width: 967px;
  width: 85%;
  background: #F6F2EB;
  border-radius: 20px;
  margin-inline: auto;
  padding: 3%;
}
#contact-page .contact-page-inner dl {
  display: flex;
  flex-wrap: wrap;
}
#contact-page .contact-page-inner dl dt {
  width: 30%;
  margin-bottom: 40px;
}
#contact-page .contact-page-inner dl dt .required {
  font-size: 0.8rem;
  color: #fff;
  background: #24ACB5;
  padding: 3px 5px;
  margin-left: 5px;
  border-radius: 3px;
}
#contact-page .contact-page-inner dl dd {
  width: 70%;
  max-width: 700px;
}
#contact-page .contact-page-inner dl dd input[type=text],
#contact-page .contact-page-inner dl dd input[type=email],
#contact-page .contact-page-inner dl dd input[type=tel] {
  border: 1px solid #333;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 40px;
  padding: 5px;
  width: 100%;
}
#contact-page .contact-page-inner dl dd #company-name {
  margin-bottom: 0;
}
#contact-page .contact-page-inner dl dd small {
  margin-bottom: 40px;
}
#contact-page .contact-page-inner dl dd textarea {
  border: 1px solid #333;
  border-radius: 5px;
  background: #fff;
  padding: 5px;
  width: 100%;
}
#contact-page .contact-page-inner dl dd .note {
  display: block;
  font-size: 0.9rem;
  color: #666;
  margin-top: 5px;
}
#contact-page .contact-page-inner dl .inquiry label {
  margin-right: 20px;
}
#contact-page .contact-page-inner dl button {
  margin-top: 45px;
  border: 3px solid #333;
  max-width: 200px;
  height: 60px;
  padding-inline: 60px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  /* ボーダーの色と太さ */
  outline: none;
  /*アニメーションの指定*/
  transition: ease 0.2s;
}
#contact-page .contact-page-inner dl button span {
  position: relative;
  z-index: 3;
  /*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #333;
}
#contact-page .contact-page-inner dl button:hover span {
  color: #fff;
}
#contact-page .contact-page-inner dl button:hover::before {
  -webkit-animation: skewanime 0.5s forwards;
          animation: skewanime 0.5s forwards;
  /*アニメーションの名前と速度を定義*/
}
#contact-page .contact-page-inner dl button::before {
  content: "";
  /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: -130%;
  /*色や形状*/
  background: #333;
  width: 120%;
  height: 100%;
  transform: skewX(-25deg);
}
#contact-page .to-home {
  margin-top: 60px;
  text-align: center;
}
#contact-page .to-home a.home-btn {
  border: 2px solid #FFBD59;
  border-radius: 20px;
  background: #fff;
  color: #FFBD59;
  transform-style: preserve-3d;
  padding: 12px 40px;
  transition: ease 0.2s;
}
#contact-page .to-home a.home-btn:hover {
  border: 2px solid #fff;
  border-radius: 20px;
  background: #FFBD59;
  color: #fff;
}

@-webkit-keyframes skewanime {
  100% {
    left: -10%;
    /*画面の見えていない左から右へ移動する終了地点*/
  }
}

@keyframes skewanime {
  100% {
    left: -10%;
    /*画面の見えていない左から右へ移動する終了地点*/
  }
}
@media (max-width: 875px) {
  #contact-page .contact-page-ttl h2 {
    font-size: 2.3rem;
  }
  #contact-page .contact-page-inner dl {
    flex-direction: column;
  }
  #contact-page .contact-page-inner dl dt {
    width: 100%;
    margin-bottom: 10px;
  }
  #contact-page .contact-page-inner dl dd {
    width: 100%;
    max-width: 900px;
  }
  #contact-page .contact-page-inner dl dd textarea {
    border: 1px solid #333;
    border-radius: 5px;
    background: #fff;
    padding: 5px;
    width: 100%;
  }
  #contact-page .contact-page-inner dl .inquiry {
    margin-bottom: 40px;
  }
}
#development-page {
  padding-top: 0;
}
#development-page .development-page-ttl {
  height: 438px;
  background: url(../images/img2.jpeg) no-repeat center center/cover;
}
#development-page .development-page-ttl h2 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  line-height: 100px;
  background: rgba(51, 51, 51, 0.5);
  padding: 120px 10px;
}
#development-page .development-page-ttl h2 span {
  display: block;
  font-size: 1.5rem;
  line-height: 100px;
  color: #fff;
}
#development-page .development-inner {
  max-width: 967px;
  width: 85%;
  margin-inline: auto;
  padding: 3%;
}

.to-home {
  margin-top: 60px;
  text-align: center;
}
.to-home a.home-btn {
  border: 2px solid #FFBD59;
  border-radius: 20px;
  background: #fff;
  color: #FFBD59;
  transform-style: preserve-3d;
  padding: 12px 40px;
  transition: ease 0.2s;
}
.to-home a.home-btn:hover {
  border: 2px solid #fff;
  border-radius: 20px;
  background: #FFBD59;
  color: #fff;
}

@keyframes skewanime {
  100% {
    left: -10%;
    /*画面の見えていない左から右へ移動する終了地点*/
  }
}
@media (max-width: 875px) {
  #contact-page .contact-page-ttl h2 {
    font-size: 2.3rem;
  }
  #contact-page .contact-page-inner dl {
    flex-direction: column;
  }
  #contact-page .contact-page-inner dl dt {
    width: 100%;
    margin-bottom: 10px;
  }
  #contact-page .contact-page-inner dl dd {
    width: 100%;
    max-width: 900px;
  }
  #contact-page .contact-page-inner dl dd textarea {
    border: 1px solid #333;
    border-radius: 5px;
    background: #fff;
    padding: 5px;
    width: 100%;
  }
  #contact-page .contact-page-inner dl .inquiry {
    margin-bottom: 40px;
  }
}
footer {
  padding-inline: 8%;
}
footer #page-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  opacity: 0;
  transform: translateX(100px);
}
footer #page-top.LeftMove {
  -webkit-animation: LeftAnime 0.5s forwards;
          animation: LeftAnime 0.5s forwards;
}
footer #page-top.RightMove {
  -webkit-animation: RightAnime 0.5s forwards;
          animation: RightAnime 0.5s forwards;
}
footer #page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/page-top_0.png);
  background-size: contain;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
  /*背景画像の指定*/
}
footer #page-top a:hover {
  background: url(../images/page-top_1.png);
  background-size: contain;
}
footer p {
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 8px;
}

@-webkit-keyframes LeftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes LeftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#page-top.RightMove {
  -webkit-animation: RightAnime 0.5s forwards;
          animation: RightAnime 0.5s forwards;
}

@-webkit-keyframes RightAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(100px);
  }
}

@keyframes RightAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(100px);
  }
}
@media (max-width: 875px) {
  footer .footer-inner {
    flex-direction: column;
  }
  footer .footer-inner .footer-logo-sns {
    width: 100%;
  }
  footer .footer-inner .footer-nav-address {
    width: 100%;
    padding: 0;
  }
  footer .footer-inner .footer-nav-address .footer-nav {
    margin-bottom: 36px;
    justify-content: center;
  }
  footer .footer-inner .footer-nav-address .footer-nav li {
    text-align: center;
  }
  footer .footer-inner .footer-nav-address .footer-nav .animoGradientBorder {
    margin-bottom: 16px;
  }
  footer .footer-inner .footer-nav-address .footer-address {
    text-align: center;
  }
  footer .footer-inner .footer-nav-address .footer-address .address {
    margin-left: 0;
  }
  footer .footer-inner .footer-nav-address .footer-address .address dd {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */